package components

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>LEMONAI</title>
			<link rel="stylesheet" href="/static/index_transpiled.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.6"></script>
		</head>
		<body hx-get="/app" hx-trigger="load" hx-swap="innerHTML">
			<noscript>You need to enable JavaScript to run this app.</noscript>
		</body>
	</html>
}
